POSTGRES_USER=YOUR_USER (String)
POSTGRES_PASSWORD=YOUR_PASSWORD (String)
DATABASE_HOST=YOUR_HOST (String)
POSTGRES_DB=YOUR_DB (String)
POSTGRES_PORT=YOUR_PORT (Number)
SUPABASE_PROJECT_URL=YOUR_SUPABASE_PROJECT_URL
SUPABASE_KEY=YOUR_SUPABASE_SERVICE_KEY