POSTGRES_USER=YOUR_USER (String)
POSTGRES_PASSWORD=YOUR_PASSWORD (String)
DATABASE_HOST=YOUR_HOST (String)
POSTGRES_DB=YOUR_DB (String)
POSTGRES_PORT=YOUR_PORT (Number)
JWT_SECRET=YOUR_SECRET (Long Random String)
JWT_EXPIRE_MINUTES=YOUR_MINNUTES (Number)
JWT_ALGO=YOUR_ALGO(Ex. HS256)